.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-description {
  width: 80%;
  background: rgba(255, 223, 167, .6);
  color: black;
  font-size: 160%;
}

.fighter-preview___root img {
  max-height: 280px;
}
